body{
    padding: 0 4rem;
    overflow-y: scroll;
}
.main{
    margin-right: 85px;
}
.oper-box{
    margin-top: 1.5rem;
    margin-left: 2%;
}
.choose-box{
    display: inline-block;
}
.add-box{
    display: inline-flex;
    margin-left: 1rem;
}
.a-tab{
    cursor: pointer;
}
#upload{
    margin: 0.4rem 1rem;
}
#tableBg{
    height: 480px;
    background-image: url('../IMG/table_bg.png');
}

/* Table */
.table-responsive{
    overflow-x: auto;
}
td, th{
    text-align: center !important;
    vertical-align: middle !important;
}
.tr-selected{
    background-color:  rgb(185, 195, 210);
}
.tr-selected:hover{
    background-color:  rgb(212, 218, 228) !important;
}
.checkbox{
    margin: 0 !important;
    zoom: 1.2;
    margin-right: -10px !important;
}
.act-btn{
    margin-right: 2px;
}

/* 悬浮按钮 */
.dangling-box{
    position: fixed;
    bottom: 3rem;
    right: 2%;
    display: block;
    z-index: 101;
    width: 55px;
}
.dangling-icon{
    cursor: pointer;
    margin: 0.5rem 0;
    color: rgb(160, 160, 160);
    zoom: 2.8;
}
.dangling-icon:hover{
    color: rgb(196, 196, 196);
}