/* Admin~页面 */
.oper-box{
    display: inline;
    float: right;
}
.input-group{
    display: flex;
    margin-top: 0.8rem;
}
.input-group-icon-plus, .input-group-icon-minus{
    margin: 0 0.5rem;
    margin-top: 0.6rem;
    color: rgb(110, 110, 110);
    zoom: 1.3;
    display: block;
    cursor: pointer;
}
.input-group-icon-plus:hover{
    color: rgb(150, 150, 150);
}
.input-group-icon-minus{
    color: rgb(255, 30, 30);
}
.input-group-icon-minus:hover{
    color: rgb(255, 100, 100);
}

/* 两个页面公用 */
body{
    padding: 0 4rem;
    overflow-y: scroll;
}
.main{
    margin-right: 82px;
}
.attr{
    display: inline;
    margin-left: 2rem;
}
.table-box{
    text-align: center;
}
td, th{
    text-align: center !important;
    vertical-align: middle !important;
}
.act-btn{
    margin-right: 2px;
}
.InfoModal-main{
    padding-left: 20%;
}
.page-title{
    display: inline;
}
.setPageDiv{
    text-align: center;
}

/* 悬浮按钮 */
.dangling-box{
    position: fixed;
    bottom: 3rem;
    right: 2%;
    display: block;
    z-index: 101;
    width: 55px;
}
.dangling-icon{
    cursor: pointer;
    margin: 0.5rem 0;
    color: rgb(160, 160, 160);
    zoom: 2.8;
}
.dangling-icon:hover{
    color: rgb(196, 196, 196);
}



/* 筛选框 */
.a-filterby{
    position: relative;
    height: 3rem;
    float: left;
    cursor: pointer;
    padding-top: 5px;
    font-size: 1.7rem;
}
.a-icon{
    margin: 0 0.5rem;
    color: rgb(40,60,150);
}
.title-filter{
    cursor: default;
    color: rgb(40,60,150);
    font-weight: bold;
}
.filter-input-box{
    display: none;
    position: relative;
    float: left;
    height: 3rem;
}
.filter-box-sticky{
    /* display: inline-table;  使用该布局可使 打开多个筛选框时换行，但点击返回顶端按钮进度条会卡在中间*/    
    padding: 1rem;
    padding-bottom: 0;
    height: 5rem;
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 0.9);
    position: fixed;
    top: 55px;
}

